body{
  background-color: white;

}
.head{
  width: 45%;
  border-radius: 10px;
}

#central {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 1px;
  top: 80px;
  padding:10px;
  padding-bottom: 45px;
  background-color: white;
  border-radius: 15px;
  /*background-color: rgba(255,255,255,0.7);*/
}

h3{
  font-family: arial;
  color: #4B0082;
  padding-left: 5%;
}

p{
  font-family: sans-serif;
  font-family: arial;
  font-size: 17px;
  padding: 2%;
  text-align: justify;
  text-indent: inherit;
}

form{
  width: 50%;
  border-radius: 15px;
  padding: 12px;
  padding-bottom: 10px;
  background-color: rgba(220,220,220,0.4);
  margin-left: auto;
  margin-right: auto;
}

.instrucoes{
  text-align: center;
  font-family: sans-serif;
  font-family: arial;
  font-size: 17px;
  padding: 2%;
  color: inherit;
  text-indent: inherit;
}

.container{
  margin-left: -80px;
  margin-right: auto;

}

footer{
  text-align: center;
  background-color: #cdcdcd;
  padding: 0.2%;
}

footer p {
  text-align: center;
}


nav{
  background-color: white;
  display: block;
  width: 15%;
  float: left;
  border: 2px solid #E4BB97;
  margin: 20px;
}

ul {
  margin-left: 10%;
  width: 90%;
}

li {
  border-bottom: 1px solid #E4BB97;
  list-style: none;
  text-align: center;
}

li a {
  text-decoration: none;
  font-weight: bolder;
  padding: 10px;
  padding-left: 0px;
}

li a:hover{
  color: purple;
  background-color: #dcdcdc;
}
