body{
  background-color: #white;

}
.head{
  width: 45%;
}

header{
  text-align: center;
}

#central {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 1px;
  top: 80px;
  padding:10px;
  background-color: #ADD8E6;
  border-radius: 15px;
  background-color: rgba(255,255,255);
}

h2{
  font-family: fantasy;
  font-style: normal;
  font-variant: inherit;
  Color: purple;
  text-align: center;
  padding-top: 2%;
  font-size: 30px;

}

h3{
  font-family: arial;
  color: black;
  padding-left: 5%;
}


ul {
  margin: 0 auto;
  padding: 0;
  width: 90%;
}

li {
  border-bottom: 1px solid #E4BB97;
  list-style: none;
  text-align: center;
  display: inline;
}

li a {
  text-decoration: none;
  font-weight: bolder;
  padding: 10px;
  padding-left: 0px;
  display: block;
}

li a:hover{
  color: purple;
  background-color: #dcdcdc;
}

footer {
  padding: 3px;
  background-color: rgba(220,220,220,0.4);
  display: block;
  text-align: center;
}

footer small{
  text-align: center;
  font-size: 1.2rem;
  color: purple;
  line-height: 0.8rem;
  font-family: fantasy;
}

p{
  font-family: sans-serif;
  font-family: arial;
  font-size: 17px;
  padding: 2%;
  padding-left: 3%;
  padding-right: 3%;
  text-align: justify;
  text-indent: inherit;
}
.trapezio1{
  width: 28%;
  margin-left: 35%;
}

.figuras{
  font-size: 18px;
  color: navy;
}
.container{
  padding: 1%;
  text-align: justify;
  color: navy;
  text-transform: bolder;
}

.linkfiguras{

}
