html, body{
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #F0F1F2;
}

.overlay{
  background-color: #6441a5;
}

.overlay-dark{
  background-color: #6a23b5;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 36px;
}



p {
  font-size: 15px;
  color: #6c6e7e;
  line-height: 30px;
  font-family: "Roboto", sans-serif;
  text-indent: inherit;
}

#central {
  top: 80px;
  padding:10px;
  display: block;
}

/*h2{
  font-family: Lobster;
  font-style: normal;
  font-variant: inherit;
  color: purple;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 30px;

}

h3{
  font-family: Lobster;
  color: #4B0082;
  padding-left: 2%;
  padding-bottom: 2%;
  padding-top: 2%;

}
h4{
  font-family: Lobster;
  color: #4B0082;
  padding: 2%;
  padding-bottom: 2%;
  padding-top: 2%;
  font-size: 35px;
  co
}

p{
  font-family: sans-serif;
  font-family: arial;
  font-size: 17px;
  padding-top: 0%;
  padding-left: 2%;
  padding-right: 2%;
  text-align: justify;
  text-indent: inherit;
}
*/

p.obs {
  color: purple !important;
  text-align: center;
  background-color: #dcdcdc !important;
  border: 1px solid #E4BB97;
  border-radius: 10px;
  width: 80%;
  margin: 10px auto;

}

.cont, .login, .comen, .calcular, .perfil  {
  display: block;
  width: 50%;
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 30px;
  background-color: rgba(220,220,220,0.6);
  margin: 20px auto;
}

.cadastro{

  display: block;
  border-radius: 6px;
  padding: 1%;
  background-color: rgba(123,104,238, 0.1);

  width: 100%;
  margin: 40px auto;

}

.comen{
  padding-left: 30px;
  padding-top: 15px;
  margin: 10px;
  padding-bottom:
}

ul.figuras {
  padding: 0 10%;
  width: 100%;
  line-height: 1.5;
}

ul.figuras li {
  list-style: none;
  color: bluesky;
  font-size: 15px;
}

ul#figuras {
  padding: 0;
  width: 100%;
}

ul#figuras li {
  list-style: none;
  display: inline;
}

ul#figuras li a {
  text-decoration: none;
  font-weight: bolder;
  padding-left: 0px;
  display: block;
  padding: 10px;
  color: bluesky;
}

ul#figuras li a:hover{
  color: purple;
  background-color: #dcdcdc;
}

/***********************************************
  Helper css
***********************************************/
.box{
  padding: 30px;
  background-color: #fff;
  border: solid 1px #e6e6e6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
}

.alert{
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: .25rem; 
}

.post{

}

.fix {
  overflow: hidden;
}

.pt100 {
  padding-top: 100px;
}

.pb100 {
  padding-bottom: 100px;
}

.mt100 {
  margin-top: 100px;
}

.mb100 {
  margin-bottom: 100px;
}

.mt60 {
  margin-top: 70px;
}

.mr20 {
  margin-right: 20px;
}

.mb0 {
  margin-bottom: 0 !important;
}

.col-push {
  left: 50%;
}

.col-pull {
  right: 50%;
}

.nopad {
  padding-left: 0;
  padding-right: 0;
}

.spad {
  padding-top: 95px;
  padding-bottom: 95px;
}

.section-title {
  text-align: center;
  margin-bottom: 50px;
  padding-top: 50px;
  position: relative;
}

.section-title h2 {
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
}


.section-title h2 span {
  background: #2be6ab;
  padding: 0 3px 5px;
  display: inline-block;
  color: #0b1033;
}

.section-title:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 5px;
  height: 30px;
  margin-left: -2.5px;
  background: #2be6ab;
}

.section-title.left {
  text-align: left;
}

.section-title.left:after {
  left: 0;
  margin-left: 0;
}

.section-title.dark h2 {
  color: #0b1033;
}

.img-xs{
  width: 40px;
  height: 40px;
  margin-right: 5px;
  border: 1px solid #999;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.post-title {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.post-subtitle {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: lowercase;
  margin-bottom: 18px;
  font-family: "Roboto", sans-serif;

}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/*                            Estilo do Cabeçalho                            */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

header{
  background-color: #fff;
  text-align: center;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.head{
  width: 45%;
}

.navbar-default {
  background-color: #fff;
  border:0;
}

.navbar .navbar-collapse {
  text-align: center;
}

.menu{
  width: 100%;
}

.header-section .menu-list {
  list-style: none;
  float: right;
}

.navbar-nav > li{
  display: inline;
}

.navbar-nav > li a.site-btn{
  margin-right:10px;
}

.navbar-nav > li a.nav-link {
  display: inline-block;
  padding: 25px 15px;
  margin-right: 15px;
  color: #222;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  letter-spacing: 0.09em;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}




.navbar-nav > li a:hover{
  color: #6a23b5;
}

.navbar-nav > li a.active{
  background-color: #2be6ab;
  color: #6a23b5;
}

.dropdown-menu {
  display: relative;
  top: 50px;
  background-color: white;
}

.dropdown-menu-right{
  top:60px;
}

#user-nav > li a.nome-user{
  color: #222;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  letter-spacing: 0.09em;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  height: 72px;
}

#user-nav > li a.nome-user:hover{
  color: #6a23b5;
  text-decoration: none;
}


#user-nav > li a.nome-user span{
  margin-right: 10px;
  margin-top:7px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
 }

.dropdown-menu > a {
  text-decoration: none;
  width: 100%;
  display: inline-block;
  padding: 15px 15px;
  color: #222;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  letter-spacing: 0.09em;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.dropdown-menu a:hover{
  background-color: #2be6ab!important;

}

.dropdown-menu.show {
    display: block;
    background: #fff;
    border-radius: 0.25rem;
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    color: #3c3c3c;
}



.navbar-dark.bg-primary {
    background-color: purple !important;
}

.navbar-right {
  padding: 10px 0 0;
}

.navbar-right > ul > li {
display:inline;
padding: 8px;
font-size: 18px;
height: 50px;
color: #fff !important;
}


/***************************
CAROUSEL
****************************/
.carousel-nav {
  position: absolute;
  top: 50%;
  width: 100%;
}

.carousel-nav a{
  display: inline-block;
  height: 50px;
  width: 100px;
  background: #6a23b5;
  color: #fff;
  text-align: center;
  padding-top: 15px;
  font-size: 10px;
  cursor: pointer;
}

.nav-next{
  float: right;
}

.carousel-item > img{
  margin: 0 auto;
  width: 100%;
}

/***********************************************
PAGINA INCIAL - INDEX
***********************************************/
.about-section,
.team-section {
  background: #6a23b5;
  position: relative;
  z-index: 2;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
  background-image: url("../images/overlay.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/*Card Section*/
.card-section {
  position: relative;
  z-index: 5;
}

.lab-card {
  position: relative;
  margin-top: -50px;
  padding: 50px 25px;
  text-align: center;
  background: #f5faf8;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.lab-card .icon {
  margin-bottom: 30px;
  font-size: 70px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.lab-card h2 {
  text-transform: uppercase;
  font-size: 18px;
  color: #2b1640;
  margin-bottom: 30px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.lab-card p {
  color: #6c6e7e;
  line-height: 30px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.lab-card:hover {
  background: rgba(135, 206, 250, 0.3);
}

.lab-card:hover h2,
.lab-card:hover p,
.lab-card:hover .icon {
  color: #fff;
}

/* About contant */
.about-contant {
  position: relative;
  z-index: 5;
}

.about-contant p {
  color: #fff;
}

.intro-video {
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  margin-top: -90px;
}

.intro-video img {
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.35);
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.35);
}

.intro-video a {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 50%;
  top: 50%;
  margin-left: -30px;
  margin-top: -30px;
  color: #6a23b5;
  background: #2be6ab;
  border-radius: 50%;
  text-align: center;
  padding-top: 20px;
  padding-left: 5px;
}




/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/*                            Estilo do Rodapé                               */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

footer {
  padding: 3px;
  background-color: rgba(220,220,220,0.4);
  display: block;
  text-align: center;

}

footer small{
  text-align: center;
  font-size: 1.2rem;
  color: purple;
  line-height: 0.8rem;
}

/******************************************************************************/



.figuras {
  font-size: 18px;
  color: navy;
}

.triangulo1{
  width: 20%;
  margin-left: 40%;
}

.triangulo2, .triangulo3, .triangulo4{
  width: 40%;
  margin-left: 35%;
  padding: 2%;
}

.area{
  padding: 2%;
}

.area.container{
  text-align: center;
}

.resultado{
  padding: 2%;
}

.areatriangulo{
  float: right;
  margin-right: -1%;
  margin-top: -9%;
  width: 17%;
}

.formarea{
  float: right;
  margin-right: 5%;
  width: 20%;
}

.circulo1{
  width: 25%;
  margin-left: 40%;
}

.circulo2{
  width: 20%;
  margin-left: 40%;
}

.areacirculo{
  margin20px;
  width: 25%;
}

.formula{
  font-family: sans-serif;
  font-family: arial;
  font-size: 17px;
  padding: 2%;
  text-align: center;
  text-indent: inherit;
}


.arearetangulo{
  float: right;
  margin-right: 4%;
  margin-top: -2%;
  width: 30%;
}

.formlosango{
  width: 10%;
  margin-left: 50%;
}

.losango1{
  width: 15%;
  margin-left: 50%;
}

.paralelogramo1{
  width: 30%;
  margin-left: 40%;
}

.areaparalelogramo{
  float: right;
  margin-right: 4%;
  margin-top: -2%;
  width: 30%;
}

.retangulo1{
  width: 30%;
  margin-left: 40%;
}

.arearetangulo{
  float: right;
  margin-right: 4%;
  margin-top: -2%;
  width: 30%;
}

.trapezio{
  width: 25%;
  margin-right: 5%;
}

.trapezio1{
  margin: 0 auto;
  padding: 1%;
}




.redcadastro{
  float: right;
  font-weight: bolder;
  display:block;
  padding-top:7px;
}

.historia1{
  float: right;
  margin: 10px;
  margin-bottom: 2px;
  width: 30%;
}

/**************************botao salvar*********************************/
.btn-custom {
	padding: 1px 15px 3px 2px;
	border-radius: 50px;

}

#salva {
  float: right !important;
}

.btn-icon {
	padding: 8px;
}

/**************************botao salvar*********************************/

/*************************** Barra Superior ***************************/

.sup{
  background-color: rgba(220,220,220,0.4);
  width: 100%;
  color: inherit;
  position: relative;
  vertical-align:top;
  height: 20%;

  /*right:0px*/
}

.user{
  width: 3%;
}



/*************************** Barra Superior ***************************/

/**************************** Perfil **********************************/

form{
  background-color:
}

 .perfil{
   float: right;
   margin: 0% 50% 0% 0%;
   background-color: inherit;
   width: 40%;
   padding: 2%;
 }


.divperfil{
  padding: 2%;
  padding-left: 10%;
}

.iconperfil{
  width: 10%;
}


.userperfil{
  width: 24px;
}

.nomeperfil{
  float: left 30%;
}

.h2perfil{
  text-align: left;
  padding-left: 30px;

}


hr{
  border-color:#4B0082;
  box-sizing:border-box;
  width:100%;
  height: 2px;
}
p.obs1{
  color: purple !important;
  text-transform: uppercase;
  font-family: sans-serif;
  text-align: justify;
  background-color: #dcdcdd !important;
  border: 1px solid #E4BB97;
  border-radius: 10px;
  width: 100%;
  margin: 0 auto;
}

.comen{
  border: 1px solid #dcdcdd;
}


/*li[role=presentation]{
  list-style: none;*/

}

.logo{
  width: 64px;

}

.sectionsalva, .sectioncomentario{
  background-color: rgba(221,221,221,0.2);
  width: 95%;
  border-radius: 10px;
  margin-left: 30px;
}

.hrperfil{
  border-color: #696969;
}

.secaoperfil{
  border-radius: 10px;
  border-color: rgba(220,220,220,0.2);
  background-color: rgba(220,220,220,0.1);
  padding: 1%;
}

.card{
  border-color: #cdcdcd;
}
.card:hover{
  background-color: rgba(220,220,220,0.2);
}


/*************************
BOTOES
*************************/

.site-btn {
  font-family: "Oswald", sans-serif;
  font-size: 15px;
  color: #641fb1;
  display: inline-block;
  text-transform: uppercase;
  background: #2be6ab;
  padding: 9px 25px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  -webkit-transition: all 0.1s ease 0s;
  -o-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}

.site-btn.btn-1{
  color: #641fb1;
  background: #2be6ab;
}

.site-btn.btn-2 {
  background: #6a23b5;
  color: #fff;
  font-weight: 400;
}

.site-btn.btn-3 {
  background: transparent;
  color: #6a23b5;
  border: 1px solid #6a23b5;
  padding: 8px 25px;
}

.site-btn.btn-4 {
  width: 100%;
  cursor: pointer;
}


.site-btn:hover,
.site-btn:focus {
  text-decoration: none;
  outline: none;
}

.site-btn.btn-1:hover {
  background: #24C290;
  color: #fff;
}

.site-btn.btn-2:hover {
  outline: none;
  color:#fff;
  background-color: #8A2DE8;
}

.site-btn.btn-3:hover {
  outline: none;
  color: #8A2DE8;
  border: 1px solid #8A2DE8;
}




/*******************************
BOTÕES SALVAR PÁGINA
**********************************/
.favorite{
  float: right;
  position: relative;
  top: 0px;
  right: 0px;
  color: #b9b4c7;
  font-size: 25px;
  cursor:pointer;
  z-index: 1;
}

.site-btn.btn-favorite-3 {
  background: transparent;
  color: #6a23b5;
  border: 2px solid #6a23b5;
  padding: 10px 25px;
  cursor:pointer;
}


.site-btn.btn-favorite-3:hover {
  background: #6a23b5;
  color: #fff;
}

.site-btn.btn-favorite-3::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
  content: "\f005";
  font-size: 17px;
}

.site-btn.btn-favorite-3:hover::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: "\f005";
}

.site-btn.btn-favorite-active-3 {
  background: #6a23b5;
  color: #fff;
  border: 2px solid #6a23b5;
  padding: 10px 25px;
  cursor:pointer;
}


.site-btn.btn-favorite-active-3:hover {
  background: transparent;
  color: #6a23b5;

}

.site-btn.btn-favorite-active-3::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: "\f004";
  font-size: 17px;
}

.site-btn.btn-favorite-active-3:hover::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
  content: "\f004";
}


.btn-favorite{
  background-color: transparent;
  border:none;
  padding: 0;
  margin:0;
  color: #b9b4c7;
  cursor:pointer;
}

.btn-favorite::after{
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
  content: "\f004";
}

.btn-favorite:hover::after{
  color: #b9b4c7;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: "\f004";
  color: #fe4c50;
}

.btn-favorite-active{
  background-color: transparent;
  border:none;
  padding: 0;
  margin:0;
  color: #fe4c50;
  cursor:pointer;
}

.btn-favorite-active::after{

  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: "\f004";
}

.btn-favorite-active:hover::after{
  color: #b9b4c7;
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
  content: "\f004";

}






/*------------------------
SECTION HEADER
--------------------------*/
.page-top-section {
  position: relative;
  height: 176px;
  background: #6a23b5;
}

.page-top-section .container {
  position: relative;
  z-index: 5;
}

.page-top-section .page-info {
  display: inline-block;
  padding-top: 50px;
}

.page-top-section .page-info h2 {
  color: #fff;
  font-weight: 400;
  margin-bottom: 15px;
  float: right;
}

.page-top-section .page-info .page-links a,
.page-top-section .page-info .page-links span {
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  color: #fff;
  margin-right: 12px;
  padding-right: 12px;
  font-weight: 400;
  position: relative;
}

.page-top-section .page-info .page-links a:after,
.page-top-section .page-info .page-links span:after {
  position: absolute;
  content: "|";
  right: -3px;
}

.page-top-section .page-info .page-links span {
  margin-right: 0;
  padding-right: 0;
  color: #2be6ab;
}

.page-top-section .page-info .page-links span:after {
  display: none;
}



/* Comments css*/

.comentarios-section{
  background-color: #fff;
}

.comments h2,
.comment-from h2 {
  font-size: 18px;
  margin-bottom: 50px;
}

.comment-list {
  list-style: none;
  margin-bottom: 90px;
}

.comment-list li {
  margin-bottom: 60px;
  min-height: 100px;
}

.comment-list li .avatar {
  width: calc(100% - (100% - 80px));
  float: left;
  margin-right: 40px;
}

 .avatar img {
  width: 100px;
  height: 100px;
}

.comment-list li .commetn-text h3 {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 30px;
  font-weight: 600;
}


/*------------------------
  Contact section
--------------------------*/
.contact-section {
  position: relative;
}

.contact-section:after {
  position: absolute;
  content: "";
  width: 50%;
  height: 100%;
  right: -15px;
  top: 0;
  background: #6a23b5;
  z-index: -1;
}

.form-class input[type="text"] {
  width: 100%;
  margin-bottom: 26px;
  border: none;
  background: #f6edfb;
  padding: 17px 20px;
}

.form-class input[type="text"]:focus,
.form-class input[type="text"]:hover {
  outline: none;
}

.form-class textarea {
  width: 100%;
  margin-bottom: 40px;
  border: none;
  background: #f6edfb;
  padding: 15px 20px;
  height: 260px;
}

.form-class textarea:focus,
.form-class textarea:hover {
  outline: none;
}

.form-class ::-webkit-input-placeholder {
  font-style: italic;
}

.form-class :-ms-input-placeholder {
  font-style: italic;
}

.form-class ::-ms-input-placeholder {
  font-style: italic;
}

.form-class ::placeholder {
  font-style: italic;
}

.form-class :-ms-input-placeholder {
  font-style: italic;
}

.form-class ::-ms-input-placeholder {
  font-style: italic;
}

/* Contact Info*/
.contact-info .section-title {
  margin-bottom: 40px;
}

.contact-info p {
  color: #fff;
}

.contact-info h3 {
  font-weight: 400;
  color: #2be6ab;
  margin-bottom: 20px;
}

.contact-info .con-item {
  font-size: 14px;
}


/* Sidebar */
.widget-item {
  margin-bottom: 60px;
  overflow: hidden;
}

.widget-item .widget-title {
  font-size: 18px;
  margin-bottom: 45px;
}

.widget-item ul {
  list-style: none;
  padding-left: 0;
}

.widget-item ul li a {
  color: #6c6e7e;
  display: block;
  margin-bottom: 20px;
  font-size: 15px;
}

.widget-item ul li a:hover {
  color: #2be6ab;
}

.widget-item ul li:last-child a {
  margin-bottom: 0;
}

.widget-item ul.instagram {
  margin-left: -5px;
  margin-right: -5px;
}

.widget-item ul.instagram li {
  width: 33.33%;
  float: left;
  padding: 5px;
}

.widget-item ul.instagram li img {
  min-width: 100%;
}

.widget-item ul.tag li {
  display: inline-block;
  background: #2be6ab;
  padding: 10px 24px;
  float: left;
  margin-right: 10px;
  margin-bottom: 15px;
}

.widget-item ul.tag li a {
  color: #6a23b5;
  margin-bottom: 0;
}

.widget-item .quote .quotation {
  display: block;
  color: #2be6ab;
  font-size: 60px;
  line-height: normal;
  margin-bottom: -20px;
}

.search-form {
  position: relative;
}

.search-form input[type="text"] {
  width: 100%;
  border: none;
  background: #2be6ab;
  padding: 15px 20px;
}

.search-form input[type="text"]:focus,
.search-form input[type="text"]:hover {
  outline: none;
}

.search-form .search-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  display: block;
  right: 0;
  top: 0;
  border: 0;
  background: #6a23b5;
  color: #2be6ab;
}

.search-form .search-btn:focus,
.search-form .search-btn:hover {
  outline: none;
}


/********************************************************
SOBRE
********************************************************/
.service {
  margin-bottom: 90px;
}

.service,
.icon-box {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.service .icon,
.icon-box .icon {
  font-size: 40px;
  margin-right: 30px;
}

.service .service-text h2,
.service .icon-box-text h2,
.icon-box .service-text h2,
.icon-box .icon-box-text h2 {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 400;
}

.service .service-text p,
.service .icon-box-text p,
.icon-box .service-text p,
.icon-box .icon-box-text p {
  font-size: 15px;
}

.service.light h2,
.service.light p,
.service.light .icon,
.icon-box.light h2,
.icon-box.light p,
.icon-box.light .icon {
  color: #fff;
}

.service.left,
.icon-box.left {
  text-align: right;
}

.service.left .icon,
.icon-box.left .icon {
  margin-left: 30px;
  margin-right: 0;
}


/*------------------------
  Team section
--------------------------*/
.team-section .container {
  position: relative;
  z-index: 5;
}

.member {
  text-align: center;
}

.member img {
  margin-bottom: 60px;
}

.member h2 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
  color: #fff;
}

.member h3 {
  font-size: 14px;
  color: #2be6ab;
  font-weight: 400;
  text-transform: uppercase;
}

.member h3 span {
    background: #2be6ab;
    padding: 0 3px 5px;
    display: inline-block;
    color: #0b1033;
    font-weight: 500;
}

/*------------------------
  Contact section
--------------------------*/
.contact-section {
  position: relative;
  background-color: #6a23b5;
  z-index: 4;
}


.form-class input[type="text"] {
  width: 100%;
  margin-bottom: 26px;
  border: none;
  background: #f6edfb;
  padding: 17px 20px;
}

.form-class input[type="text"]:focus,
.form-class input[type="text"]:hover {
  outline: none;
}

.form-class textarea {
  width: 100%;
  margin-bottom: 40px;
  border: none;
  background: #f6edfb;
  padding: 15px 20px;
  height: 260px;
}

.form-class textarea:focus,
.form-class textarea:hover {
  outline: none;
}

.form-class ::-webkit-input-placeholder {
  font-style: italic;
}

.form-class :-ms-input-placeholder {
  font-style: italic;
}

.form-class ::-ms-input-placeholder {
  font-style: italic;
}

.form-class ::placeholder {
  font-style: italic;
}

.form-class :-ms-input-placeholder {
  font-style: italic;
}

.form-class ::-ms-input-placeholder {
  font-style: italic;
}

/* Contact Info*/
.contact-info .section-title {
  margin-bottom: 40px;
}

.contact-info p {
  color: #fff;
}

.contact-info h3 {
  font-weight: 400;
  color: #2be6ab;
  margin-bottom: 20px;
}

.contact-info .con-item {
  font-size: 14px;
}





/*************************************************************
  Footer section
**************************************************************/
.footer-section {
  background: #220c3b;
}

.footer-section h2 {
  color: #6a23b5;
  font-size: 14px;
}

.small-title {
    font-size: 22px;
    position: relative;
    text-align: left;
}

footer {
  background: #220c3b;
  color: #6a23b5;
}
footer .small-title {
  margin-bottom: 30px;
  color: #fff;
}
footer p {
  font-size: 14px;
  text-align: left;
  font-weight: 300;
  line-height:1.5rem;
  color: #6a23b5;
  margin-bottom: 0;
}

footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
footer ul li {
  line-height: 25px;
}
footer ul li a {
  color: #999;
}
footer ul li.tweet {
  margin-bottom: 15px;
}
footer ul li.tweet .fa-twitter {
  padding: 5px;
  color: #fff;
  
  border-radius: 100%;
  width: 24px;
  height: 24px;
}
footer ul li.tweet .tweet-date {
  font-size: 12px;
  font-style: italic;
  color: #bdc3c7;
}
footer .plain-flicker-gallery {
  margin-right: -5px;
  margin-left: -5px;
}
footer .plain-flicker-gallery a {
  display: inline-block;
  width: 32%;
  font-size: 0px;
  padding: 5px;
}

footer #copyright {
  background: #1D1D1D;
}
footer #copyright .row {
  padding: 15px 0;
}
footer #copyright .copyright-text,
footer #copyright .nav-inline {
  margin-top: 15px;
}
.social-footer a .fa {
  font-size: 14px;
  height: 35px;
  line-height: 35px;
  margin: 4px;
  width: 35px;
}


/*===  Facts Element ===*/
 .fact {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.fact-width {
  width: 100%;
}

 .fact .icon {
  color: #2be6ab;
  font-size: 80px;
}

 .fact .fact-text h2 {
  font-family: "Roboto", sans-serif;
  font-size: 72px;
  color: #2be6ab;
  font-weight: 600;
  text-align: left;
}

 .fact .fact-text h3 {
  font-size: 16px;
  font-weight: 500;
}






/*************************************************************
ERROR 404 PAGE NOT FOUND
**************************************************************/
h2.error-title {
    color: #ff2a40;
    font-size: 10rem;
}

.error-section h4 {
    font-size: 1.5rem;
}

/*************************************************************
CONFIGURAÇÕES DE PERFIL
*************************************************************/
.form-group {
    margin-bottom: 2rem;
}

.custom-file-label::after {
    content: "Escolher arquivo";
    background-color: #e9ecef;
    border-left: 1px solid #ced4da;
    border-radius: 0 .25rem .25rem 0;
    cursor:pointer;
}

.custom-file-label:hover::after {
    background-color: #fff;
    border-left: 1px solid #C3C9CF;
    border-radius: 0 .25rem .25rem 0;
}

.nav-config{
  margin-bottom: 25px;
}

.nav-config .img-sm{
  width: 50px;
  height: 50px;
  border: 1px solid #999;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  margin-right: 10px;
}

.nav-config a{
  font-size: 12px;
}

/**************************************************************
PERFIL
***************************************************************/
.section-perfil h2{
  font-size:28px;
}

.section-perfil .comments h2{
  font-size: 18px;
}

.section-perfil h3{
  letter-spacing: 0px;
  text-transform: none;
}

.section-perfil h3 span{
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: none;
  margin-bottom: 18px;
  font-family: "Roboto", sans-serif;
  color:#aaa;
}

.section-perfil i{
  padding: 0 5px 0 7px;
}

.largura50{
  width: 50px;
}

.perfil-avatar{
  width: 100%;
}

.perfil-avatar img{
  text-align: center;
  width: 120px;
  height: 120px;
}

.biografia{
    color: #999;
    margin: 0 auto 25px;
    max-width: 350px;
}

img {
    vertical-align: middle;
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}

.img-rounded {
    border-radius: 3px;
}

.img-thumbnail {
    background-color: #fff;
    border: 1px solid #ededf0;
    border-radius: 3px;
    display: inline-block;
    height: auto;
    line-height: 1.428571429;
    max-width: 100%;
    moz-transition: all .2s ease-in-out;
    o-transition: all .2s ease-in-out;
    padding: 2px;
    transition: all .2s ease-in-out;
    webkit-transition: all .2s ease-in-out;
}

.img-circle {
    border-radius: 50%;
}

.timeline-centered {
    position: relative;
    margin-bottom: 30px;
    width:100%;
}

.timeline-centered:before, .timeline-centered:after {
    content: " ";
    display: table;
}

.timeline-centered:after {
    clear: both;
}

.timeline-centered:before, .timeline-centered:after {
    content: " ";
    display: table;
}

.timeline-centered:after {
    clear: both;
}

.timeline-centered:before {
    content: '';
    position: absolute;
    display: block;
    width: 4px;
    background: #f5f5f6;
    /*left: 50%;*/
    top: 20px;
    bottom: 20px;
    margin-left: 30px;
}

.timeline-centered .timeline-entry {
    position: relative;
    /*width: 50%;
    float: right;*/
    margin-top: 5px;
    margin-left: 30px;
    margin-bottom: 10px;
    clear: both;
}

.timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
    content: " ";
    display: table;
}

.timeline-centered .timeline-entry:after {
    clear: both;
}

.timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
    content: " ";
    display: table;
}

.timeline-centered .timeline-entry:after {
    clear: both;
}

.timeline-centered .timeline-entry.begin {
    margin-bottom: 0;
}

.timeline-centered .timeline-entry.left-aligned {
    float: left;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
margin-left: 0;
margin-right: -18px;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time {
    left: auto;
    right: -100px;
    text-align: left;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon {
    float: right;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {
    margin-left: 0;
    margin-right: 70px;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label:after {
    left: auto;
    right: 0;
    margin-left: 0;
    margin-right: -9px;
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.timeline-centered .timeline-entry .timeline-entry-inner {
    position: relative;
    margin-left: -20px;
}

.timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
    content: " ";
    display: table;
}

.timeline-centered .timeline-entry .timeline-entry-inner:after {
    clear: both;
}

.timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
    content: " ";
    display: table;
}

.timeline-centered .timeline-entry .timeline-entry-inner:after {
    clear: both;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
    position: absolute;
    left: -100px;
    text-align: right;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span {
    display: block;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:first-child {
    font-size: 15px;
    font-weight: bold;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:last-child {
    font-size: 12px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
  background: #fff;
  color: #737881;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-align: center;
  -moz-box-shadow: 0 0 0 4px #f5f5f6;
  -webkit-box-shadow: 0 0 0 4px #f5f5f6;
  box-shadow: 0 0 0 4px #f5f5f6;
  line-height: 40px;
  font-size: 15px;
  float: left;
}


.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg {
  background-color: #00a651;
  color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
  position: relative;
  background: #f5f5f6;
  padding: 1em;
  margin-left: 60px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 9px 9px 0;
  border-color: transparent #f5f5f6 transparent transparent;
  left: 0;
  top: 10px;
  margin-left: -9px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2, .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p{
  color: #737881;
  font-family: "Roboto",sans-serif;
  font-size: 12px;
  margin: 0;
  line-height: 1.428571429;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p {
  margin-top: 15px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
  font-size: 15px;
  margin-bottom: 10px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
  color: #303641;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
  -webkit-opacity: .6;
  -moz-opacity: .6;
  opacity: .6;
  -ms-filter: alpha(opacity=60);
  filter: alpha(opacity=60);
}


/*********************************************************
SECTION NAV
***********************************************************/
#section-nav {
  background-color: #fff;
  font-weight: 500;
  padding: 0;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

#section-nav .container{
  padding: 0px;
}

#section-nav .navbar-nav > li a.nav-link{
  padding: 10px 15px;
   -webkit-transition: all 0s ease 0s;
  -o-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
  
}
#section-nav .navbar-nav > li a.active{
  border-bottom: 4px solid #6a23b5;
  background-color: transparent;
}

#section-nav .navbar-nav > li a.active:hover{
  color:#6a23b5;
  border-bottom: 4px solid #ddd;
  background-color: transparent;
}

#section-nav .navbar-nav > li a:hover{
  color:#000;
  border-bottom: 4px solid #ddd;
  background-color: transparent;
}


/*******************************************************
LOGIN
********************************************************/
#login{

}

#login .login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;

}

#login .form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 25px auto;
  padding: 45px;
  text-align: center;
      -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


#login .form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

#login .form button{
  width: 100%;
}

#login .form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 15px;
}
#login .form .message a {
  color: #6a23b5;
  text-decoration: none;
}
#login .form .register-form {
  display: none;
}
#login .container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
#login .container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
#login .container .info {
  margin: 50px auto;
  text-align: center;
}
#login .container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
#login .container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
#login .container .info span a {
  color: #000000;
  text-decoration: none;
}
#login .container .info span .fa {
  color: #EF3B3A;
}


/******************************************************
EXERCICIOS
******************************************************/

.exercicios-container {
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.box-exercicio{
  padding: 30px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top-right-radius: .25rem;
  border-top-left-radius: .25rem; 
  border-bottom: none;
}

.title-box-exercicio{
font-size: 22px;
font-weight: 700;
letter-spacing: 1px;
text-transform: none;
font-family: "Roboto", sans-serif;
}

.box-exercicio-submit{
  padding: 30px;
  background-color: #ddd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom-right-radius: .25rem;
  border-bottom-left-radius: .25rem; 
  border-top: solid 1px #e6e6e6;;
  height: 130px;
}

.box-exercicio-correto{
  padding: 30px;
  height: 130px;
  background-color: #bff199;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom-right-radius: .25rem;
  border-bottom-left-radius: .25rem; 
  border-top: solid 1px #65ab00;
  color:#65ab00;
  font-weight: 700;
}

.correto{
  background: #fff;
  border-radius: 98px;
  display: inline-block;
  height: 70px;
  width: 70px;
}

.correto i{
  font-size:35px;
  margin: 17px 18px;
  color:#65ab00;
}

.box-exercicio-errado{
  padding: 30px;
  height: 130px;
  background-color: #ffd3d1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom-right-radius: .25rem;
  border-bottom-left-radius: .25rem; 
  border-top: solid 1px #e70800;
  color:#ec0b1b;
  font-weight: 700;
}

.errado{
  background: #fff;
  border-radius: 98px;
  display: inline-block;
  height: 70px;
  width: 70px;
}

.errado i{
  font-size:35px;
  margin: 17px 22px;
  color:#e70800;
}

/********************************************************
CADASTRO EXERCICIOS
********************************************************/
.card-header {
  padding: 0;
}

.card-body {
    padding: 0rem 0;
}

.section-form-exercicio .table td{
  font-size: 12px;
  padding: 0.75rem;
}

.section-form-exercicio .table td .btn {
    padding: 0;
    font-size: 12px;
}