html, body{
  padding: 0;
  margin: 0;
}


body{
  background-color: white;

}

#central {
  top: 80px;
  padding:10px;
  display: block;
}

h2{
  font-family: Lobster;
  font-style: normal;
  font-variant: inherit;
  color: purple;
  text-align: center;
  padding-top: 2%;
  font-size: 30px;

}

h3{
  font-family: Lobster;
  color: #4B0082;
  padding-left: 50px;
}

p{
  font-family: sans-serif;
  font-family: arial;
  font-size: 17px;
  padding: 1%;
  padding-left: 3%;
  padding-right: 3%;
  text-align: justify;
  text-indent: inherit;
}

p.obs {
  color: purple !important;
  text-align: center;
  background-color: #dcdcdc !important;
  border: 1px solid #E4BB97;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
}

.cont, .login, .cadastro, .comen, .calcular, .perfil  {
  display: block;
  width: 50%;
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 30px;
  background-color: rgba(220,220,220,0.6);
  margin: 20px auto;
}
.comen{
  padding-left: 30px;
  padding-top: 15px;
  margin: 10px;
  padding-bottom:
}

ul.figuras {
  padding: 0 10%;
  width: 100%;
}

ul.figuras li {
  list-style: none;
  color: bluesky;
  font-size: 17px;
}

ul#figuras {
  padding: 0;
  width: 100%;
}

ul#figuras li {
  list-style: none;
  display: inline;
}

ul#figuras li a {
  text-decoration: none;
  font-weight: bolder;
  padding-left: 0px;
  display: block;
  padding: 10px;
  color: bluesky;
}

ul#figuras li a:hover{
  color: purple;
  background-color: #dcdcdc;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/*                            Estilo do Cabeçalho                            */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

header{
  text-align: center;
}

.head{
  width: 45%;
}

.navbar-default {
  background-color: #fff;
  border:0;
}
.navbar .navbar-collapse {
  text-align: center;
}

.menu{
  width: 100%;
}
.navbar-nav > li{
  float: none;
  display: inline-block;
  list-style: none;
  text-align: center;
  margin: 0 0 0 15px;
}

.navbar-nav > li a {
  text-decoration: none;
  font-weight: bolder;
  padding: 10px;
  display: block;
  background-color: indigo !important;
}

.dropdown-menu {
    background-color: indigo;
}

.dropdown-menu a {
    color: orchid;
}

.navbar-nav > li a:hover{
  color: #fff !important;
  background-color: orchid!important;
  border-top: 1px solid #E4BB97;
  padding-top: 9px;
}

.navbar-dark.bg-primary {
    background-color: purple !important;
}

.navbar-right {
  padding: 10px 0 0;
}

.navbar-right > ul > li {
display:inline;
padding: 8px;
font-size: 18px;
height: 50px;
color: #fff !important;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/*                            Estilo do Rodapé                               */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

footer {
  padding: 3px;
  background-color: rgba(220,220,220,0.4);
  display: block;
  text-align: center;

}

footer small{
  text-align: center;
  font-size: 1.2rem;
  color: purple;
  line-height: 0.8rem;
}

/******************************************************************************/

.trapezio1 {
  width: 28%;
  margin-left: 35%;
}

.figuras {
  font-size: 18px;
  color: navy;
}

.triangulo1{
  width: 20%;
  margin-left: 40%;
}

.triangulo2, .triangulo3, .triangulo4{
  width: 40%;
  margin-left: 35%;
  padding: 2%;
}

.area{
  padding: 2%;
}

.area.container{
  text-align: center;
}

.resultado{
  padding: 2%;
}

.areatriangulo{
  float: right;
  margin-right: -1%;
  margin-top: -9%;
  width: 17%;
}

.formarea{
  float: right;
  margin-right: 5%;
  width: 20%;
}

.circulo1{
  width: 25%;
  margin-left: 40%;
}

.circulo2{
  width: 20%;
  margin-left: 40%;
}

.areacirculo{
  margin20px;
  width: 25%;
}

.formula{
  font-family: sans-serif;
  font-family: arial;
  font-size: 17px;
  padding: 2%;
  text-align: center;
  text-indent: inherit;
}


.arearetangulo{
  float: right;
  margin-right: 4%;
  margin-top: -2%;
  width: 30%;
}

.formlosango{
  width: 10%;
  margin-left: 50%;
}

.losango1{
  width: 15%;
  margin-left: 50%;
}

.paralelogramo1{
  width: 30%;
  margin-left: 40%;
}

.areaparalelogramo{
  float: right;
  margin-right: 4%;
  margin-top: -2%;
  width: 30%;
}

.retangulo1{
  width: 30%;
  margin-left: 40%;
}

.arearetangulo{
  float: right;
  margin-right: 4%;
  margin-top: -2%;
  width: 30%;
}

.trapezio{
  width: 25%;
  margin-right: 5%;
}

.trapezio1{
  width: 30%;
  margin-left: 35%;
  padding: 2%;
}

.redcadastro{
  float: right;
  font-weight: bolder;
  display:block;
  padding-top:7px;
}

/**************************botao salvar*********************************/
.btn-custom {
	padding: 1px 15px 3px 2px;
	border-radius: 50px;

}

#salva {
  float: right !important;
}

.btn-icon {
	padding: 8px;
}

/**************************botao salvar*********************************/

/*************************** Barra Superior ***************************/

.sup{
  background-color: rgba(220,220,220,0.4);
  width: 100%;
  color: inherit;
  position: relative;
  vertical-align:top;
  height: 20%;

  /*right:0px*/
}

.user{
  width: 3%;
}



/*************************** Barra Superior ***************************/

/**************************** Perfil **********************************/

form{
  background-color:
}

 .perfil{
   float: right;
   margin: 0% 50% 0% 0%;
   background-color: inherit;
   width: 40%;
   padding: 2%;
 }


.divperfil{
  padding: 2%;
  padding-left: 10%;
}

.iconperfil{
  width: 10%;
}


.userperfil{
  width: 24px;
}

.nomeperfil{
  float: left 30%;
}

.h2perfil{
  text-align: left;
  padding-left: 30px;

}


hr{
  border-color:#4B0082;
  box-sizing:border-box;
  width:100%;
  height: 2px;
}
p.obs1{
  color: purple !important;
  text-transform: uppercase;
  font-family: sans-serif;
  text-align: justify;
  background-color: #dcdcdd !important;
  border: 1px solid #E4BB97;
  border-radius: 10px;
  width: 100%;
  margin: 0 auto;
}

.comen{
  border: 1px solid #dcdcdd;
}


/*li[role=presentation]{
  list-style: none;*/

}

.logo{
  width: 64px;

}

.sectionsalva, .sectioncomentario{
  background-color: rgba(221,221,221,0.2);
  width: 95%;
  border-radius: 10px;
  margin-left: 30px;
}

.hrperfil{
  border-color: #696969;
}

.secaoperfil{
  border-radius: 10px;
  border-color: rgba(220,220,220,0.2);
  background-color: rgba(220,220,220,0.1);
  padding: 1%;
}


  cursor: pointer;
}
